node_modules/
dist/
*.class
*.py[cod]
*.log
*.jar
target/
dist/
.idea/
TEST*.xml
.DS_Store
Thumbs.db

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Database files

*.sqlite
data
ft_userdata/user_data/backtest_results
*.sqlite-wal
*.sqlite*
