node_modules/
dist/
*.class
*.py[cod]
*.log
*.jar
target/
dist/
.idea/
TEST*.xml
.DS_Store
Thumbs.db

*.sqlite
data
backtest_results/
hyperopt_results/
*.sqlite*
*.pkl
hyperopt_tickerdata.pkl
plot/
ft_userdata/user_data/data/
ft_userdata/user_data/hyperopt_results/
